@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(20, 23, 41), rgb(15, 21, 35));
}
